@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
h1 {
    text-align: center;
    color: chartreuse;
}
.body {
    background-color: black;
    font-family: 'Syne Mono', monospace;
}
ul{
    border-radius: 20px;
    color: black;
    font-size: larger;
    font-family: 'Syne Mono', monospace;
    text-overflow: initial;
    text-decoration-color: aqua;
    border-color: 2px aqua;
    background-size: cover;
    background-size: 10px;
    
}
.nav-item {
    display: flex;
  content: icon;
    
}

